
body {
  background-color: #fff;
}
h1{
  font-family: 'Montserrat',sans-serif;
  /* text-align: center; */
  /* height: 200px */
  border: solid;
  margin: - 100 px;
  /* display: inline-block; */
  text-align: center;

}
